In [1]:
2|3

3

In [2]:
# or and | are not same
2 or 3

2

In [4]:
# | operator works as union 
# It applied only for set. 
s1 = {1,2,3}
s2 = {3,78,23}
s3 = s1|s2
print(s3)

{1, 2, 3, 23, 78}

In [5]:
i1 = 1.3
i2 = 1.6
print(i1|i2)

TypeError: unsupported operand type(s) for |: 'float' and 'float'

In [6]:
s3 = {1.2,6,8.9}
s4 = {3.2,6,9}
print(s3|s4)

{1.2, 3.2, 6, 8.9, 9}

In [7]:
s5 = {'python','hoo','gee'}
s6 = {'PYTHON','hoo','hii'}
print(s5|s6)

{'python', 'gee', 'PYTHON', 'hii', 'hoo'}

In [8]:
a = 7,8
print(a,type(a))

(7, 8) <class 'tuple'>

In [9]:
a = 7
print(a,id(a))

7 2289577322992

In [10]:
a = 8
print(a,'----',id(a))

8 ---- 2289577323024